.Error404 {
    background-image: url('./assets/img/bakcg.jpg');
    height: 100vh;
    background-size:cover;
    background-position: center;
}

.container{
    transform: translateY(12em);
}

.gif {
    width: 30%;
    border-radius: 5px;
}

.button{
    font-size: 1em;
}