.card{
  
  height: 11em;
  flex-basis: calc(28% - 50px);
  margin: 5px;
  padding: 0;
}

.info{
  margin: auto;
  width: min-content;
  height: 11em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.origin{
  width: max-content;
  margin: auto 1em 0.5em 1em;
  color: blue;
  z-index: 3;
  font-size: 1.1em;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  &:hover {
    z-index: 0;
  }
}

.image{
  width: 16.5em;
  position: absolute;
  z-index: 2;
  border-radius: 5px;
  &:hover {
    z-index: 1;
  }
}

.nameDiets{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 16.5em;
  position: absolute;
  height: 11em;
  z-index: 1; /*! ESTE A 2 para configurar name y diets*/
  &:hover {
    z-index: 3;
    cursor: pointer;
  }
}

@font-face {
  font-family: name;
  src: url('./assets/fonts/5/Texas\ Sauce.ttf');
}
.name{
  font-family: name;
  margin: 5px;
  font-size: 1.5em;
  color: orange;
  -webkit-text-stroke: 1px black;
}

.dietsTit{
  margin-top: 0.5em;
  margin-bottom: 0px;
}

.diets{
  margin: 0 3px;
  font-size: 1em;
  color: rgb(1, 82, 1);
}