.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 73vh;
}

.shadePag{
    display: flex;
    margin: 10px auto auto auto;
    width: 40%;
    position: relative;
}

.pag{
    display: flex;
    margin: 10px auto auto auto;
    width: 40%;
    transform: translateY(-126%);
}

@font-face {
    font-family: pag;
    src: url('./assets/fonts/4/Foodlist-Regular.ttf');
}

.shadeArrow{
    color: red;
    -webkit-text-stroke: 3px red;
    filter: blur(3px);
    width: max-content;
    margin: 1px auto 1px auto;
    font-family: pag;
    font-size: 2em;
}

.shadeNumVis{
    color: red;
    -webkit-text-stroke: 3px red;
    filter: blur(3px);
    width: max-content;
    margin: 1px auto 1px auto;
    font-family: pag;
    font-size: 2em;
}

.shadeNum{
    width: max-content;
    margin: 1px auto 1px auto;
    font-family: pag;
    font-size: 2em;
    visibility: hidden;
}

.num{
    width: max-content;
    margin: 1px auto 1px auto;
    font-family: pag;
    font-size: 2em;
    &:hover {
        cursor: pointer;
        user-select: none;
    }
}
